
.venv/
.DS_Store
Thumbs.db
**/__pycache__/


.env
*.env
.secrets
.venv/
env/
venv/
ENV/


*.egg-info/
*.egg
build/
dist/
wheels/


.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.log


.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# TZ / local docs
*.pdf
media/
PROGRESS.md